#!/bin/bash

/usr/bin/find -L {{ islandora_backup_dir }} -maxdepth 1 -type f -name '*.tar.bz2' -mtime +178 -print0 | while read -d $'\0' file 
do
  day=`stat -c '%y' "$file" | sed 's/....-..-\(..\).*/\1/'`

  if [ "$day" != "01" -a "$day" != "08" -a "$day" != "16" -a "$day" != "24" ];
  then
    rm -f "$file"
  fi
done
