#!/bin/bash

COMPOSER_BIN="{{ composer_bin }}"
DRUPAL_DIR="{{ drupal_dir }}"
DRUSH_BIN="{{ drush_bin }}"

$COMPOSER_BIN --working-dir=${DRUPAL_DIR} self-update --update-keys

$COMPOSER_BIN --working-dir=${DRUPAL_DIR} require 'drupal/security_review'
$DRUSH_BIN --root=${DRUPAL_DIR} en security_review

$COMPOSER_BIN --working-dir=${DRUPAL_DIR} require 'drupal/flood_control'
$DRUSH_BIN --root=${DRUPAL_DIR} en flood_control
$DRUSH_BIN -y --root=${DRUPAL_DIR} cset user.flood ip_limit 3
$DRUSH_BIN -y --root=${DRUPAL_DIR} cset user.flood user_limit 3
$DRUSH_BIN -y --root=${DRUPAL_DIR} cset user.settings register admin_only
