#!/bin/bash

COMPOSER_BIN="{{ composer_bin }}"
DRUPAL_DIR="{{ drupal_dir }}"
DRUSH_BIN="{{ drush_bin }}"


# updates check
#composer --working-dir=${DRUPAL_DIR} outdated "drupal/*" 
$COMPOSER_BIN --working-dir=${DRUPAL_DIR} --dry-run update
$DRUSH_BIN --root=${DRUPAL_DIR} pm:security

# security reviews modules
$DRUSH_BIN --root=${DRUPAL_DIR} security-review
